# Pasta de compilação e build do Maven
target/

# Arquivos de variáveis de ambiente e credenciais sensíveis
.env
*.env

# Configurações do IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Arquivos de log e temporários do sistema
*.log
.DS_Store
Thumbs.db